body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  /* background-image: url(images/background.jpg); */
  background-color: aliceblue;
}

.awesome {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
}

tbody {
  border-style: solid;
}

table {
  width: 18rem;
}

tr {
  margin-bottom: 2%;
  text-align: center;
}
tr:nth-child(even) {
  background: #fff
}
tr:nth-child(odd) {
  background: #ccc
}

th {
  background-color: white;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-self: center;
}

hr {
  width: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.add {
  margin-left: 80%;
  width: 3.5rem;
}